@font-face {
  font-family: "xirod";
  src: url("./../fonts/xirod.ttf");
}
@font-face {
  font-family: "brush";
  src: url("./../fonts/Brush.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 90em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 27em) {
  html {
    font-size: 30%;
  }
}

body {
  background: url("./../images/bg.jpg");
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;
}

.rocket {
  width: 10rem;
  height: 20rem;
  background: linear-gradient(to top, #fff, #ddd);
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  animation: shake 0.3s linear infinite alternate-reverse;
}
@media only screen and (max-width: 48em) {
  .rocket {
    width: 8rem;
    height: 18rem;
  }
}
.rocket::before {
  content: "";
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 5rem;
  background-color: red;
  position: absolute;
  border-radius: 50%;
}
.rocket::after {
  content: "";
  width: 100%;
  height: 2rem;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  transform: translateY(80%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.rocket__fin {
  width: 6rem;
  height: 6rem;
  background-color: black;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  position: absolute;
  top: 50%;
}
@media only screen and (max-width: 48em) {
  .rocket__fin {
    width: 4rem;
    height: 4rem;
  }
}
.rocket__fin-right {
  left: 0;
  transform: translateX(-100%) rotate(-90deg);
}
.rocket__fin-left {
  right: 0;
  transform: translateX(100%) rotate(90deg);
}
.rocket__smoke {
  position: absolute;
  height: 7rem;
  width: 3rem;
  background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5));
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(120%);
  animation: gradient 0.1s linear infinite;
}

.rocket-lunch-animation {
  animation: lunch 10s linear forwards;
}

.smoke-lunch-animation {
  background: linear-gradient(to top, #e8ad0a, rgba(255, 251, 18, 0.5));
  animation: smoke 0.1s linear infinite;
  border-radius: 1rem;
}

.lunch-enable {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: green;
  box-shadow: 0 0 0rem 1rem #063f06;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-family: xirod;
  transition: all 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 90em) {
  .lunch-enable {
    top: 30%;
  }
}
.lunch-enable:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 0 0rem 0.8rem #063f06;
}

.lunch-disable {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #777676;
  box-shadow: 0 0 0rem 1rem black;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-family: xirod;
  transition: all 0.3s;
  cursor: not-allowed;
}
@media only screen and (max-width: 90em) {
  .lunch-disable {
    top: 30%;
  }
}

.abort-enable {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 0rem 1rem #5e0808;
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-family: xirod;
  transition: all 0.3s;
  cursor: pointer;
}
@media only screen and (max-width: 90em) {
  .abort-enable {
    top: 30%;
  }
}
.abort-enable:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 0 0rem 0.8rem #5e0808;
}

.abort-disable {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #777676;
  box-shadow: 0 0 0rem 1rem black;
  position: absolute;
  top: 20%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.6rem;
  font-family: xirod;
  transition: all 0.3s;
  cursor: not-allowed;
}
@media only screen and (max-width: 90em) {
  .abort-disable {
    top: 30%;
  }
}

.restart-enable {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0 0 0rem 1rem #606308;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #000;
  font-size: 1.6rem;
  font-family: xirod;
  transition: all 0.3s;
  cursor: pointer;
}
.restart-enable:hover {
  transform: translate(50%, -0.6rem);
  box-shadow: 0 0 0rem 0.8rem #5e0808;
}

.restart-disable {
  display: none;
}

.seconds {
  font-family: "brush";
  font-size: 20rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 90em) {
  .seconds {
    top: 5%;
  }
}

.modal {
  font-family: xirod;
  width: 35%;
  padding: 3.2rem;
  text-align: center;
  color: #fff;
  background-color: #3d0404;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 3rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  line-height: 5rem;
}
.modal__text {
  font-size: 1.6rem;
  font-weight: 700;
}
.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}
.modal__btn button {
  width: 7rem;
  height: 7rem;
  font-family: xirod;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 27em) {
  .modal__btn button {
    font-size: 1.2rem;
  }
}
.modal__btn--yes {
  background-color: red;
  box-shadow: 0 0 0 0.8rem #5e0808;
  transition: all 0.3s;
}
.modal__btn--yes:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0rem 0.4rem #5e0808;
}
.modal__btn--no {
  background-color: green;
  box-shadow: 0 0 0rem 0.8rem #063f06;
  transition: all 0.3s;
}
.modal__btn--no:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0 0rem 0.4rem #063f06;
}

@keyframes shake {
  from {
    transform: translateY(0) translateX(-50%);
  }
  to {
    transform: translateY(1rem) translateX(-50%);
  }
}
@keyframes gradient {
  from {
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5));
  }
  to {
    background: linear-gradient(to top, #fff 90%, rgba(255, 255, 255, 0));
  }
}
@keyframes lunch {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(700%, -300%) rotate(60deg) scale(0);
  }
}
@keyframes smoke {
  from {
    background: linear-gradient(to top, #e8ad0a, rgba(255, 251, 18, 0.5));
  }
  to {
    background: linear-gradient(to top, #e8ad0a 90%, rgba(255, 255, 255, 0));
  }
}

/*# sourceMappingURL=style.css.map */
